*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Colors*/
  --light-gray: #e4e5ea;
  --dark-gray: #656566;
  --background: #1e1e1e;
  --text-gradient: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--light-gray);
  background-color: var(--background);
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 576px) {
  body {
    font-size: 12px;
    line-height: 15px;
  }
}
